{% extends "base.html" %}
{% block title %}Acerca de nuestra tienda de componentes{% endblock %}

{% block content %}
<h1>Acerca de nuestra tienda de componentes</h1>

<h2>Quiénes somos</h2>
<p>Somos <strong>PC STORE</strong>, especialistas en la venta de componentes de computadora de alta calidad. Ofrecemos productos confiables para ensambladores, gamers y profesionales de la tecnología.</p>

<h2>Contacto</h2>
<p>¿Tienes preguntas o deseas colaborar con nosotros? ¡Escríbenos y te responderemos a la brevedad!</p>
<p>Correo: <a href="mailto:contacto@componentes-pc.com">contacto@componentes-pc.com</a></p>

<h2>Ubicación</h2>
<p>Nuestras oficinas principales se encuentran en Avenida Verde 456, Ciudad Sustentable.</p>

<h2>Redes Sociales</h2>
<p>Síguenos para conocer nuestros productos y ofertas:</p>
<h3>Síguenos en nuestras redes</h3>
<div class="d-flex gap-3 mt-2">
  <a href="https://www.facebook.com" target="_blank" class="text-decoration-none text-primary fs-3">
    <i class="bi bi-facebook"></i>
  </a>
  <a href="https://www.twitter.com" target="_blank" class="text-decoration-none text-info fs-3">
    <i class="bi bi-twitter"></i>
  </a>
  <a href="https://www.instagram.com" target="_blank" class="text-decoration-none text-danger fs-3">
    <i class="bi bi-instagram"></i>
  </a>
</div>


</ul>
{% endblock %}