{% extends "base.html" %}

{% block title %}Editar Cliente{% endblock %}

{% block content %}
<h1>Editar Cliente</h1>

<form method="post">
  <div class="mb-3">
    <label>Nombre</label>
    <input type="text" name="nombre" value="{{ cliente.nombre }}" class="form-control" required>
  </div>

  <div class="mb-3">
    <label>Email</label>
    <input type="email" name="mail" value="{{ cliente.mail }}" class="form-control" required>
  </div>

  <button type="submit" class="btn btn-success">Actualizar</button>
  <a href="{{ url_for('listar_clientes') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
